.next/
public/css/
src/styles/critical
# Ignore Next.js build output
out/
dist/
build/
.cache/
.next/cache/
pnpm-debug.log*
coverage/
.pnpm-debug.log*

# Ignore dependencies
node_modules/

.DS_Store

*.mp4
dist.zip

.env.production


.mdc/
README-MDC.md
.cursor/
.claude/
.bmad-*/
web-bundles/